<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-unbias"
    version="0.0.1">
  <name>Unbias</name>
  <description>Plugin for retrieving Unbias Share extension data</description>
  <license>Apache License, Version 2.0</license>
  <author>Charlie Carter</author>

  <js-module name="Unbias" src="www/Unbias.js">
    <clobbers target="unbias" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Unbias">
        <param name="ios-package" value="Unbias" />
      </feature>
    </config-file>
    <header-file src="src/ios/CDVDevice.h" />
    <source-file src="src/ios/Unbias.swift" />
  </platform>
</plugin>
